#one { 
width:500px;
height:50px;
MARGIN:AUTO;
}
 
#one1 {background-color: yellow;
padding:10px;
text-align-last: center;
}

#two {
width:500px;
height:50px;
margin:auto;
}
#two1 {background-color: yellow;}

#three {
width:500px;
height:50px;
margin:auto;}

#three1 {background-color: yellow;
text-align-last: center;}


